/* Styles for the Advanced Markup assignment. */

/*About Page Styles */
dt {
    font-weight: 900;
}

.bio-photo {
    width: 25%;
    float: left;
    background:beige;
    margin: 10px;
    padding: 5px
}

.bio-photo img {
    width: 100%;
    height: auto;
}

/*Sidebar Styles */
#sidebar {
    float: right;
    width: 25%;
    background: white;
    border:4px solid beige;
    margin: 25px;
    padding: 20px;    
}

#sidebar ul li {
    display: inline;
    padding:5px;
}

/*Navigation Styles */
nav ul li {
    display: inline;
    border: solid 2px beige;
    padding: 5px;   
}

.active {
    font-weight: 900;
    background: #cccccc;
    padding: 5px;
}

/*Table Styles */

table {
    text-align: left;
    width: 100%
}

/*Fonts and headings */
h1 {
    font-size: 3rem;
    font-family: Times;
}

h2 {
    font-size: 1.5rem;
    font-family: Times;
    padding-top: .5rem;
    padding-left: .25rem;
}

p {
    font-size: 1.15rem;
    font-family: Times; 
    padding-left: 2.5rem;
}

/*Poem */
ul.poem {
    list-style-type: none;
    line-height: 1.75rem;
    font: Garamond;
    font-style: italic;
    font-size: 18px;
}

/*Bibliography */
UL.bibliography {
    display: inline; 
    line-height: 1.3rem;
}

